body {
    padding: 5px;
    min-width: 300px;
}

header {
    border-bottom: 2px solid #03a9f4;
    margin-bottom: 5px;
}

.hide {
    display: none;
}

.title {
    font-size: 5em;
    color: #333;
}

.button {
    margin-bottom: 20px;
}
